/* nav section****************************************** */
.landing_page{
   background-color: var(--color-white);
}
.w-90{
   width: 90%;
   margin: 0 auto;
    
}

.mainnav {
   width: 100%;
   background-color: var(--color-white);
   border-bottom: 1px solid #DADADA;
}

.divnav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 30px;
}

.navlink {
   display: flex;
   gap: 40px;
}

.navlink>li>a {
   text-decoration: none;
   color: #333333;
   font-weight: 500;
   font-size: 1.125rem;

}

.navlink>li>a:hover {
   text-decoration: underline;
}



/* Landing Page ******************************************** */

.landingwrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   margin-bottom: 118px;
}


.landing_paragraph_section{
   width: 50%;
}


.landing_page_photo{
   width: 50%; 
   object-fit: contain; 
}
  
.landing_heading1{
   font-weight: 700;
   font-size: 3.85rem;
    line-height: 1;
    /* letter-spacing: -1.5%; */
    color: var(--text--secondary);
    margin-bottom: 32px;
   }
 
 .landing_paragraph{
   font-weight: 400;
   font-size: 18px;
   line-height: 1.7rem; 
   margin-bottom: 40px;
 }

 
  /* Services Section********************************* */

  .service_section{
   padding-top: 120px;
   padding-bottom: 120px;
   text-align: center;
  }

  .card_section{
   display: flex;
   gap: 16px;
  }

  .card{
   background:var(--color--white);
  }
 
 .service_paragraph{
   width: 54%;
   /* font-size: 16px; */
 }
 
 .service_paragraph{
   margin: auto;
 }

 .service_heading6{
    font-weight: 600;
    color: var(--text--secondary);
    text-transform: capitalize;
    margin-bottom: 20px;

 }
 .service_heading2{
   font-weight: 700;
   letter-spacing: 0;
   color: var(--text--secondary);
   text-transform: capitalize;
   margin-bottom: 32px;

}

.service_detail{
   /* font-weight: 400; */
   /* font-size: 16px; */
   line-height: 1.7rem;
   margin-bottom: 72px;
}

.card{
   padding: 60px 30px 60px 30px;
}
 
.card_photo{
   width: 100px;
   height: 100px;
   margin-bottom:16px;
   
}

.card_1{
  box-shadow: 0px 10px 20px 0px #A4D9FD26 ;
}
 
.card_paragraph{
   /* background-color: red; */
   margin-top: 25px;
   font-size: 14px;
}


/* About Section********************************/
.about_image{
   width: 48%;
   object-fit: contain;
}
.about_paragraph_section{
width: 48%;

}

.about_wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 28px;
   margin-bottom: 80px;
   margin-bottom: 120px;
}

.about_heading2{
   text-transform: none;
   margin-bottom: 24px;

}

.about_paragraph_detail{
   line-height: 1.7rem;
   margin-bottom: 40px;
}

.about_heading6{
   margin-bottom: 16px ;
}

