/* nav section****************************************** */
 .landing_page {
   background-color: var(--color-white);
}

.w-90 {
   width: 90%;
   margin: 0 auto;
}

.p_120 {
   padding: 120px 0 120px 0;
}

.navphoto{
   width: 100%;
   object-fit: cover;
}

.mainnav {
   background-color: var(--color-white);
   border-bottom: 1px solid #DADADA;
    
}

.divnav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 30px;
   
}

.navlink {
   display: flex;
   gap: 40px;
}

.navlink>li>a {
   text-decoration: none;
   color: var(--text--primary);
   font-weight: 500;
   font-size: 1.125rem;

}

.navlink>li>a:hover {
   text-decoration: underline;
}



/* hamburger for responsibe */

.hamburger{
   font-size: 2.5rem;
   /* background-color:var(--bg--blue); */
   background-color: transparent;
   display: none;
   border: none;
   color: #0099FF;
}
 



 

/* Landing Page ******************************************** */

.landingwrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   margin-bottom: 118px;
}


.landing_paragraph_section {
   width: 50%;
}


.landing_page_photo {
   width: 50%;
   object-fit: cover;
}

.landing_heading1 {
   font-weight: 700;
   font-size: 3.85rem;
   line-height: 1;
   /* letter-spacing: -1.5%; */
   color: var(--text--primary);
   margin-bottom: 32px;
}

.landing_paragraph {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.7rem;
   margin-bottom: 40px;
}

 
  

/* member section***************************** */
.member_section {
   background-color: var(--bg--light--blue)
}

.member_paragraph_section {
   width: 36%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 80px;

}

.member_heading6 {
   margin-bottom: 16px;
}

.member_heading6 {
   font-weight: 600;
   color: var(--text--primary);
   text-transform: capitalize;
   margin-bottom: 16px;
}

.member_heading2 {
   font-weight: 700;
   color: var(--text--primary);
   text-transform: capitalize;
   margin-bottom: 32px;
}

.member_detail {
   line-height: 1.7rem;
}

.m_card {
   width: 308px;
   height: 379px;
   object-fit: cover;
}

.member_card {
   display: flex;
   gap: 16px;
   justify-content: center;
   /* align-items: center; */
   /* flex-wrap: wrap; */

}

.member_card_detail {
   background-color: var(--bg--white);
   /* background-color: red; */
   width: 260px;
   height: 133px;
   padding: 12px 12px 12px 12px;
   border-radius: 5px;
   box-shadow: 0px 10px 20px 0px #A4D9FD26;
   /* margin: 0 auto;
   position: relative;
   bottom: 70px;
   left: 0; */
   z-index: 1;

   position: relative;
   bottom: 70px;
   left: 25px;

}


.vector_image {
   display: flex;
   gap: 14px;
   margin-bottom: 16px;
}

.member-font-icon{
 font-size: 16px;

   color: var(--text--secondary);
   
}

.member_card_name {
   font-weight: 700;
   color: var(--text--primary);
   margin-bottom: 8px;
   text-transform: capitalize;
}

.member_card_post {
   font-size: 1.125rem;
   text-transform: capitalize;
}

/* project section *******************************8*** */
 

.project_heading2 {
   font-weight: 700;
   color: var(--text--black);
   padding-bottom: 80px;
   color: var(--text--primary);

}

 

.project_card{
   display: flex;
   gap: 16px;
   /* justify-content:center; */
   /* align-items: center; */
   /* flex-wrap: wrap; */
  
}

.project_photo {
 width: 100%;
 /* height: 327px; */
 margin-bottom: 24px;
 object-fit: cover;
}

.project_detail{
   margin-bottom:0;
} 

.project_card1 {
   box-shadow: 0px 4px 8px 0px #0000001A;
   padding: 20px;
   width: 30%;

}

.website_paragraph {
   padding-bottom: 32px;
 
}

.project_detail>a {

   font-weight: 500;
   font-size: 1.125rem;
   text-transform: capitalize;
   color: var(--text--primary);
   text-decoration: none;
   /* padding-bottom: 12px; */

}

.project_detail>a:hover {
   /* text-decoration: underline; */
   border-bottom: 2px solid #0099FF;
}


/* faq section************************* */

.faq_wrapper {
   background-color: var(--bg--light--blue);
   text-align: center;
}

.faq_wrapper>h6 {
   font-weight: 600;
   text-transform: uppercase;
   color: var(--text--primary);
   padding-bottom: 16px;
}

.faq_wrapper>h2 {
   font-weight: 700;
   color: var(--text--primary);
   padding-bottom: 80px;
}



/* .faq_wrapper>p{
      color: red;
      font-weight: 500;
      font-size: 1.125rem;
      padding: 32px;
      background-color: var(--color--white);
      } */



     

/* customer review ************** */

.review_wrapper {
   background-color: var(--color--white);
}

.review_heading2 {
   font-weight: 700;
   padding-bottom: 24px;
   
}

.review_paragraph {
   font-weight: 400;
   padding-bottom: 48px;

}

.review_cards {
   display: flex;
   gap: 16px;

}

.review_card {
   padding: 32px;
   box-shadow: 0px 4px 8px 0px #0000001A;
}

.rating_star {
   padding-bottom: 24px;
}


.rating_star>:nth-child(1) {
   color: #0099FF;
   opacity: 0.9;
}

.rating_star>:nth-child(2) {
   color: #0099FF;
   opacity: 0.7;
}

.rating_star>:nth-child(3) {
   color: #0099FF;
   opacity: 0.5;
}

.rating_star>:nth-child(4) {
   color: #0099FF;
   opacity: 0.3;
}

.rating_star>:nth-child(5) {
   color: #0099FF;
   opacity: 0.1;
}


.rating_star_paragraph{
   font-size: 14px;
   padding-bottom: 24px;
}

.rating_detail{
   display: flex;
   align-items: center; 
   gap: 20px;
}

.rating_name{
   font-weight: 600;
   color: var(--text--primary);
}

.rating_post{
   font-weight: 300;

}



/* project idea in mind ************************** */

.project_idea_wrapper{
   
   border-radius: 4px;
   box-shadow: 0px 10px 20px 0px #A4D9FD26;
   background-color: var(--bg--black);
   padding: 100px;
    
 
}

.idea_paragraph{
   width: 43%;
}

.btn_proect_mind{
   padding: 18px 62px;
}

.idea_here{
   display: flex;
   justify-content: space-between;
   align-items: center;   
}

.idea_heading4{
   font-weight: 700;
   color: var(--color--white);
   padding-bottom: 24px;
}
.idea_detail{
color: var(--color--white);
font-weight: 400;
font-size: 1.125rem;
}


/* footer section ************************************* */

.footer{
   background-color: var(--bg--light--blue);
   
}
.footer_wrapper{
   display: flex; 
   justify-content: space-between;
}

 
 .newsletter_detail{
   display: flex;
   flex-direction: column;
 }

 .footer_icons{
   display: flex;
   gap: 16px;
 }
 

 .footer_anker>li>a{
   text-decoration: none;
   color: var(--text--secondary);
   /* font-weight: 400; */
   text-transform: capitalize;
   font-size: 1.125rem;
 }

 .footer_anker>li:not(:last-child){
   padding-bottom: 20px;
 }

 .footer_anker>li>a:hover{
   text-decoration: underline;
   color: var(--text--primary);
    
 }



 .footer_logo{
   width: 25%;
 }

 .footer_subscribe{
   width: 27%;
 }

 .footer_photo, .footer_paragraph{
   padding-bottom: 32px;
 }

 .footer_paragraph{
   font-size: 1.125rem;
   color: var(--text--secondary);
 }
 
 .footer_icons>li{  
   background-color: var(--color--white);
   width: 32px;
   height: 32px;
   border-radius: 4px;  
   display: flex;
   justify-content: center;
   align-items: center;  
 }

 .footer_icons>li:hover{
   box-shadow: 0px 3px 25px 0px #E9E9E9;
 }

 .footer_icons>li>a{
    color: var(--bg--black);
 }


 .footer_heading6{
   font-weight: 600;
   color: var(--text--primary);
   padding-bottom: 40px;
  
 }

 .subscribe_paragraph1{
   font-weight: 700;
   font-size: 1.25rem;
 }

 .subscribe_paragraph{
   font-size: 1.125rem;
   padding-bottom: 40px
 }

 .email_type{
   background-color: #333333;
    padding: 16px 146px 16px 26px;
    border-radius: 4px;
    color: white;
    margin-bottom: 24px;
    border: none;
    outline: none;
 }
