@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   font-family: "inter";
   margin: 0;
   padding: 0;
}
/* nav section */
 
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #DADADA;
   padding: 32px 70px;
}

.navlink{
   display: flex;
   gap: 40px;
}

.navlink>li> a{
   text-decoration: none;
   color: #333333;
}

.navlink>li{
   list-style: none;
}

.navlink>li>a:hover{
   text-decoration: underline;
}

.navphoto{
   align-items: center;
   text-align: center;
}
.navbutton{
   background-color: #0099FF;
   border: none;
   padding: 12px 65.5px;
   color: white;
   margin-left: 50px;
}
